.DS_Store
*/.python-version

20250201_demo_webapp/database/__pycache__/db_helper.cpython-313.pyc
20250201_demo_webapp/backend/database/sns_app.db

20250202_deepseek/Janus-Pro-1B/pytorch_model.bin
20250202_deepseek/Janus-Pro-1B

20250216_baseball_sc/scraping/*.csv
20250216_baseball_sc/scraping/*.json

