/* src/app/users-list/users-list.component.scss */
.users-list {
    padding: 20px;
  
    ul {
      list-style-type: none;
      padding: 0;
  
      li {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
  
        span, input {
          flex: 1;
        }
  
        button {
          margin-left: 5px;
        }
      }
    }
  
    .user-registration {
      margin-top: 20px;
      input {
        margin-right: 10px;
      }
    }
  }
  